Framework/src/main/resources/etc/wsdl/dm2idm.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Dm2Idm" targetNamespace="http://dm2idm.autobahn.geant.net/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://dm2idm.autobahn.geant.net/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="network.autobahn.geant.net" targetNamespace="network.autobahn.geant.net" version="1.0">
<xs:complexType name="Link">
    <xs:sequence>
      <xs:element minOccurs="0" name="bodID" type="xs:string"/>
      <xs:element name="kind" type="xs:int"/>
      <xs:element minOccurs="0" name="startPort" type="tns:Port"/>
      <xs:element minOccurs="0" name="endPort" type="tns:Port"/>
      <xs:element name="bidirectional" type="xs:boolean"/>
      <xs:element name="delay" type="xs:int"/>
      <xs:element name="manualCost" type="xs:double"/>
      <xs:element name="monetaryCost" type="xs:double"/>
      <xs:element name="granularity" type="xs:long"/>
      <xs:element name="minResCapacity" type="xs:long"/>
      <xs:element name="maxResCapacity" type="xs:long"/>
      <xs:element name="capacity" type="xs:long"/>
      <xs:element minOccurs="0" name="resilience" type="xs:string"/>
      <xs:element minOccurs="0" name="timestamp" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="localName" type="xs:string"/>
      <xs:element minOccurs="0" name="type" type="tns:LinkType"/>
      <xs:element minOccurs="0" name="operationalState" type="tns:StateOper"/>
      <xs:element minOccurs="0" name="administrativeState" type="tns:StateAdmin"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="Port">
    <xs:sequence>
      <xs:element minOccurs="0" name="bodID" type="xs:string"/>
      <xs:element minOccurs="0" name="address" type="xs:string"/>
      <xs:element minOccurs="0" name="technology" type="xs:string"/>
      <xs:element name="bundled" type="xs:boolean"/>
      <xs:element minOccurs="0" name="node" type="tns:Node"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="Node">
    <xs:sequence>
      <xs:element minOccurs="0" name="bodID" type="xs:string"/>
      <xs:element minOccurs="0" name="type" type="xs:string"/>
      <xs:element minOccurs="0" name="address" type="xs:string"/>
      <xs:element minOccurs="0" name="provisioningDomain" type="tns:ProvisioningDomain"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="country" type="xs:string"/>
      <xs:element minOccurs="0" name="city" type="xs:string"/>
      <xs:element minOccurs="0" name="institution" type="xs:string"/>
      <xs:element minOccurs="0" name="longitude" type="xs:string"/>
      <xs:element minOccurs="0" name="latitude" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="ProvisioningDomain">
    <xs:sequence>
      <xs:element minOccurs="0" name="bodID" type="xs:string"/>
      <xs:element minOccurs="0" name="provType" type="xs:string"/>
      <xs:element minOccurs="0" name="adminDomain" type="tns:AdminDomain"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="AdminDomain">
    <xs:sequence>
      <xs:element minOccurs="0" name="bodID" type="xs:string"/>
      <xs:element minOccurs="0" name="ASID" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element name="clientDomain" type="xs:boolean"/>
      <xs:element minOccurs="0" name="idcpServer" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="LinkType">
    <xs:sequence>
      <xs:element name="type" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="StateOper">
    <xs:sequence>
      <xs:element name="state" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="StateAdmin">
    <xs:sequence>
      <xs:element name="state" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="LinkIdentifiers">
    <xs:sequence>
      <xs:element minOccurs="0" name="nodeId" type="xs:string"/>
      <xs:element minOccurs="0" name="portId" type="xs:string"/>
      <xs:element minOccurs="0" name="linkId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="network.autobahn.geant.net" xmlns:tns="http://dm2idm.autobahn.geant.net/" elementFormDefault="unqualified" targetNamespace="http://dm2idm.autobahn.geant.net/" version="1.0">
<xs:import namespace="network.autobahn.geant.net"/>
<xs:element name="activate" type="tns:activate"/>
<xs:element name="activateResponse" type="tns:activateResponse"/>
<xs:element name="finish" type="tns:finish"/>
<xs:element name="finishResponse" type="tns:finishResponse"/>
<xs:element name="getIdentifiers" type="tns:getIdentifiers"/>
<xs:element name="getIdentifiersResponse" type="tns:getIdentifiersResponse"/>
<xs:element name="injectAbstractLinks" type="tns:injectAbstractLinks"/>
<xs:element name="injectAbstractLinksResponse" type="tns:injectAbstractLinksResponse"/>
<xs:element name="restorationCompleted" type="tns:restorationCompleted"/>
<xs:element name="restorationCompletedResponse" type="tns:restorationCompletedResponse"/>
<xs:element name="saveReservationStatusDB" type="tns:saveReservationStatusDB"/>
<xs:element name="saveReservationStatusDBResponse" type="tns:saveReservationStatusDBResponse"/>
<xs:complexType name="activate">
    <xs:sequence>
      <xs:element minOccurs="0" name="resID" type="xs:string"/>
      <xs:element name="success" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="activateResponse">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="injectAbstractLinks">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="links" type="ns1:Link"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="injectAbstractLinksResponse">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="restorationCompleted">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="restorationCompletedResponse">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="getIdentifiers">
    <xs:sequence>
      <xs:element minOccurs="0" name="idmAddress" type="xs:string"/>
      <xs:element minOccurs="0" name="portName" type="xs:string"/>
      <xs:element minOccurs="0" name="linkBodId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getIdentifiersResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="identifiers" type="ns1:LinkIdentifiers"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="saveReservationStatusDB">
    <xs:sequence>
      <xs:element minOccurs="0" name="res" type="xs:string"/>
      <xs:element name="st" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="saveReservationStatusDBResponse">
    <xs:sequence>
      <xs:element name="result" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="finish">
    <xs:sequence>
      <xs:element minOccurs="0" name="resID" type="xs:string"/>
      <xs:element name="success" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="finishResponse">
    <xs:sequence/>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="injectAbstractLinks">
    <wsdl:part name="parameters" element="tns:injectAbstractLinks">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getIdentifiers">
    <wsdl:part name="parameters" element="tns:getIdentifiers">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="restorationCompleted">
    <wsdl:part name="parameters" element="tns:restorationCompleted">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="injectAbstractLinksResponse">
    <wsdl:part name="parameters" element="tns:injectAbstractLinksResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finish">
    <wsdl:part name="parameters" element="tns:finish">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="saveReservationStatusDBResponse">
    <wsdl:part name="parameters" element="tns:saveReservationStatusDBResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="restorationCompletedResponse">
    <wsdl:part name="parameters" element="tns:restorationCompletedResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="activate">
    <wsdl:part name="parameters" element="tns:activate">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getIdentifiersResponse">
    <wsdl:part name="parameters" element="tns:getIdentifiersResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finishResponse">
    <wsdl:part name="parameters" element="tns:finishResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="saveReservationStatusDB">
    <wsdl:part name="parameters" element="tns:saveReservationStatusDB">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="activateResponse">
    <wsdl:part name="parameters" element="tns:activateResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Dm2Idm">
    <wsdl:operation name="activate">
      <wsdl:input name="activate" message="tns:activate">
    </wsdl:input>
      <wsdl:output name="activateResponse" message="tns:activateResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="injectAbstractLinks">
      <wsdl:input name="injectAbstractLinks" message="tns:injectAbstractLinks">
    </wsdl:input>
      <wsdl:output name="injectAbstractLinksResponse" message="tns:injectAbstractLinksResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="restorationCompleted">
      <wsdl:input name="restorationCompleted" message="tns:restorationCompleted">
    </wsdl:input>
      <wsdl:output name="restorationCompletedResponse" message="tns:restorationCompletedResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getIdentifiers">
      <wsdl:input name="getIdentifiers" message="tns:getIdentifiers">
    </wsdl:input>
      <wsdl:output name="getIdentifiersResponse" message="tns:getIdentifiersResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveReservationStatusDB">
      <wsdl:input name="saveReservationStatusDB" message="tns:saveReservationStatusDB">
    </wsdl:input>
      <wsdl:output name="saveReservationStatusDBResponse" message="tns:saveReservationStatusDBResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="finish">
      <wsdl:input name="finish" message="tns:finish">
    </wsdl:input>
      <wsdl:output name="finishResponse" message="tns:finishResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Dm2IdmServiceSoapBinding" type="tns:Dm2Idm">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="activate">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="activate">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="activateResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="injectAbstractLinks">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="injectAbstractLinks">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="injectAbstractLinksResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="restorationCompleted">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="restorationCompleted">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="restorationCompletedResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getIdentifiers">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getIdentifiers">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getIdentifiersResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveReservationStatusDB">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="saveReservationStatusDB">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="saveReservationStatusDBResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="finish">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="finish">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="finishResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Dm2Idm">
    <wsdl:port name="Dm2IdmPort" binding="tns:Dm2IdmServiceSoapBinding">
      <soap:address location="http://localhost:9090/Dm2IdmPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
