web-gui/src/main/webapp/wsdl/administration.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="AdministrationService" targetNamespace="http://administration.jra3.geant2.net/" xmlns:tns="http://administration.jra3.geant2.net/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="network.jra3.geant2.net" xmlns:ns2="http://administration.jra3.geant2.net/" xmlns:ns3="constraints.jra3.geant2.net" xmlns:tns="reservation.jra3.geant2.net" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="reservation.jra3.geant2.net">
    <xs:import namespace="network.jra3.geant2.net"/>
    <xs:import namespace="http://administration.jra3.geant2.net/"/>
    <xs:import namespace="constraints.jra3.geant2.net"/>
    <xs:complexType name="User">
        <xs:sequence>
            <xs:element minOccurs="0" name="name" type="xs:string"/>
            <xs:element minOccurs="0" name="homeDomain" type="ns1:AdminDomain"/>
            <xs:element minOccurs="0" name="email" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Service">
        <xs:sequence>
            <xs:element minOccurs="0" name="state" type="ns2:state"/>
            <xs:element minOccurs="0" name="bodID" type="xs:string"/>
            <xs:element minOccurs="0" name="justification" type="xs:string"/>
            <xs:element name="priority" type="xs:int"/>
            <xs:element minOccurs="0" name="user" type="tns:User"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="reservations" nillable="true" type="tns:Reservation"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Reservation">
        <xs:sequence>
            <xs:element minOccurs="0" name="bodID" type="xs:string"/>
            <xs:element minOccurs="0" name="startPort" type="ns1:Port"/>
            <xs:element minOccurs="0" name="endPort" type="ns1:Port"/>
            <xs:element minOccurs="0" name="startTime" type="xs:dateTime"/>
            <xs:element minOccurs="0" name="endTime" type="xs:dateTime"/>
            <xs:element name="priority" type="xs:int"/>
            <xs:element minOccurs="0" name="description" type="xs:string"/>
            <xs:element name="capacity" type="xs:long"/>
            <xs:element name="maxDelay" type="xs:int"/>
            <xs:element minOccurs="0" name="resiliency" type="xs:string"/>
            <xs:element name="bidirectional" type="xs:boolean"/>
            <xs:element minOccurs="0" name="globalConstraints" type="ns3:GlobalConstraints"/>
            <xs:element minOccurs="0" name="path" type="ns1:Path"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="network.jra3.geant2.net" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="network.jra3.geant2.net">
    <xs:complexType name="ProvisioningDomain">
        <xs:sequence>
            <xs:element minOccurs="0" name="bodID" type="xs:string"/>
            <xs:element minOccurs="0" name="provType" type="xs:string"/>
            <xs:element minOccurs="0" name="adminDomain" type="tns:AdminDomain"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AdminDomain">
        <xs:sequence>
            <xs:element minOccurs="0" name="bodID" type="xs:string"/>
            <xs:element minOccurs="0" name="ASID" type="xs:string"/>
            <xs:element minOccurs="0" name="name" type="xs:string"/>
            <xs:element name="clientDomain" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="StateAdmin">
        <xs:sequence>
            <xs:element name="state" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LinkType">
        <xs:sequence>
            <xs:element name="type" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="StateOper">
        <xs:sequence>
            <xs:element name="state" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Link">
        <xs:sequence>
            <xs:element minOccurs="0" name="bodID" type="xs:string"/>
            <xs:element name="kind" type="xs:int"/>
            <xs:element minOccurs="0" name="startPort" type="tns:Port"/>
            <xs:element minOccurs="0" name="endPort" type="tns:Port"/>
            <xs:element name="bidirectional" type="xs:boolean"/>
            <xs:element name="delay" type="xs:int"/>
            <xs:element name="manualCost" type="xs:double"/>
            <xs:element name="monetaryCost" type="xs:double"/>
            <xs:element name="granularity" type="xs:long"/>
            <xs:element name="minResCapacity" type="xs:long"/>
            <xs:element name="maxResCapacity" type="xs:long"/>
            <xs:element name="capacity" type="xs:long"/>
            <xs:element minOccurs="0" name="resilience" type="xs:string"/>
            <xs:element minOccurs="0" name="timestamp" type="xs:dateTime"/>
            <xs:element minOccurs="0" name="localName" type="xs:string"/>
            <xs:element minOccurs="0" name="type" type="tns:LinkType"/>
            <xs:element minOccurs="0" name="operationalState" type="tns:StateOper"/>
            <xs:element minOccurs="0" name="administrativeState" type="tns:StateAdmin"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Port">
        <xs:sequence>
            <xs:element minOccurs="0" name="bodID" type="xs:string"/>
            <xs:element minOccurs="0" name="address" type="xs:string"/>
            <xs:element minOccurs="0" name="technology" type="xs:string"/>
            <xs:element name="bundled" type="xs:boolean"/>
            <xs:element minOccurs="0" name="node" type="tns:Node"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Node">
        <xs:sequence>
            <xs:element minOccurs="0" name="bodID" type="xs:string"/>
            <xs:element minOccurs="0" name="type" type="xs:string"/>
            <xs:element minOccurs="0" name="address" type="xs:string"/>
            <xs:element minOccurs="0" name="provisioningDomain" type="tns:ProvisioningDomain"/>
            <xs:element minOccurs="0" name="name" type="xs:string"/>
            <xs:element minOccurs="0" name="country" type="xs:string"/>
            <xs:element minOccurs="0" name="city" type="xs:string"/>
            <xs:element minOccurs="0" name="institution" type="xs:string"/>
            <xs:element minOccurs="0" name="longitude" type="xs:string"/>
            <xs:element minOccurs="0" name="latitude" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Path">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" name="links" nillable="true" type="tns:Link"/>
            <xs:element name="monetary_cost" type="xs:double"/>
            <xs:element name="manual_cost" type="xs:double"/>
            <xs:element name="capacity" type="xs:long"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://administration.jra3.geant2.net/" xmlns:ns0="administration.jra3.geant2.net" xmlns:ns1="reservation.jra3.geant2.net" xmlns:ns2="network.jra3.geant2.net" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://administration.jra3.geant2.net/">
    <xs:simpleType name="constraintsNames">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TIMESLOTS"/>
            <xs:enumeration value="VLANS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="state">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CANCELLED"/>
            <xs:enumeration value="CANCELLING"/>
            <xs:enumeration value="FAILED"/>
            <xs:enumeration value="SCHEDULED"/>
            <xs:enumeration value="SCHEDULING"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="getProperties" type="getProperties"/>
    <xs:complexType name="getProperties">
        <xs:sequence/>
    </xs:complexType>
    <xs:element name="getPropertiesResponse" type="getPropertiesResponse"/>
    <xs:complexType name="getPropertiesResponse">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Properties" type="ns0:KeyValue"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="getServices" type="getServices"/>
    <xs:complexType name="getServices">
        <xs:sequence/>
    </xs:complexType>
    <xs:element name="getServicesResponse" type="getServicesResponse"/>
    <xs:complexType name="getServicesResponse">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="serivces" type="ns1:Service"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="getLog" type="getLog"/>
    <xs:complexType name="getLog">
        <xs:sequence>
            <xs:element name="all" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="getLogResponse" type="getLogResponse"/>
    <xs:complexType name="getLogResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="log" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="getService" type="getService"/>
    <xs:complexType name="getService">
        <xs:sequence>
            <xs:element minOccurs="0" name="arg0" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="getServiceResponse" type="getServiceResponse"/>
    <xs:complexType name="getServiceResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="service" type="ns1:Service"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="getTopology" type="getTopology"/>
    <xs:complexType name="getTopology">
        <xs:sequence/>
    </xs:complexType>
    <xs:element name="getTopologyResponse" type="getTopologyResponse"/>
    <xs:complexType name="getTopologyResponse">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="links" type="ns2:Link"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="getReservation" type="getReservation"/>
    <xs:complexType name="getReservation">
        <xs:sequence>
            <xs:element minOccurs="0" name="resID" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="getReservationResponse" type="getReservationResponse"/>
    <xs:complexType name="getReservationResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="Reservation" type="ns1:Reservation"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="getStatus" type="getStatus"/>
    <xs:complexType name="getStatus">
        <xs:sequence/>
    </xs:complexType>
    <xs:element name="getStatusResponse" type="getStatusResponse"/>
    <xs:complexType name="getStatusResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="status" type="ns0:Status"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="setProperties" type="setProperties"/>
    <xs:complexType name="setProperties">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="properties" type="ns0:KeyValue"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="setPropertiesResponse" type="setPropertiesResponse"/>
    <xs:complexType name="setPropertiesResponse">
        <xs:sequence/>
    </xs:complexType>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://administration.jra3.geant2.net/" xmlns:tns="constraints.jra3.geant2.net" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="constraints.jra3.geant2.net">
    <xs:import namespace="http://administration.jra3.geant2.net/"/>
    <xs:complexType name="BooleanConstraint">
        <xs:complexContent>
            <xs:extension base="tns:Constraint">
                <xs:sequence>
                    <xs:element minOccurs="0" name="value" type="xs:boolean"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType abstract="true" name="Constraint"/>
    <xs:complexType name="MinValueConstraint">
        <xs:complexContent>
            <xs:extension base="tns:Constraint">
                <xs:sequence>
                    <xs:element minOccurs="0" name="value" type="xs:double"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="GlobalConstraints">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" name="domainsIds" nillable="true" type="xs:string"/>
            <xs:element maxOccurs="unbounded" name="domainConstraints" nillable="true" type="tns:DomainConstraints"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DomainConstraints">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" name="pathConstraints" nillable="true" type="tns:PathConstraints"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PathConstraints">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" name="addNames" nillable="true" type="ns1:constraintsNames"/>
            <xs:element maxOccurs="unbounded" name="addConstraints" nillable="true" type="tns:AdditiveConstraint"/>
            <xs:element maxOccurs="unbounded" name="boolNames" nillable="true" type="ns1:constraintsNames"/>
            <xs:element maxOccurs="unbounded" name="boolConstraints" nillable="true" type="tns:BooleanConstraint"/>
            <xs:element maxOccurs="unbounded" name="rangeNames" nillable="true" type="ns1:constraintsNames"/>
            <xs:element maxOccurs="unbounded" name="rangeConstraints" nillable="true" type="tns:RangeConstraint"/>
            <xs:element maxOccurs="unbounded" name="minValNames" nillable="true" type="ns1:constraintsNames"/>
            <xs:element maxOccurs="unbounded" name="minValConstraints" nillable="true" type="tns:MinValueConstraint"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AdditiveConstraint">
        <xs:complexContent>
            <xs:extension base="tns:Constraint">
                <xs:sequence>
                    <xs:element minOccurs="0" name="value" type="xs:double"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="RangeConstraint">
        <xs:complexContent>
            <xs:extension base="tns:Constraint">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="ranges" nillable="true" type="tns:Range"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Range">
        <xs:sequence>
            <xs:element minOccurs="0" name="min" type="xs:int"/>
            <xs:element minOccurs="0" name="max" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="network.jra3.geant2.net" xmlns:tns="administration.jra3.geant2.net" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="administration.jra3.geant2.net">
    <xs:import namespace="network.jra3.geant2.net"/>
    <xs:complexType name="Status">
        <xs:sequence>
            <xs:element minOccurs="0" name="domain" type="xs:string"/>
            <xs:element name="longitude" type="xs:float"/>
            <xs:element name="latitude" type="xs:float"/>
            <xs:element maxOccurs="unbounded" name="neighbors" nillable="true" type="tns:Neighbor"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Neighbor">
        <xs:sequence>
            <xs:element minOccurs="0" name="domain" type="xs:string"/>
            <xs:element minOccurs="0" name="link" type="ns1:Link"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KeyValue">
        <xs:sequence>
            <xs:element minOccurs="0" name="key" type="xs:string"/>
            <xs:element minOccurs="0" name="value" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getReservation">
    <wsdl:part name="parameters" element="tns:getReservation">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getServiceResponse">
    <wsdl:part name="parameters" element="tns:getServiceResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setPropertiesResponse">
    <wsdl:part name="parameters" element="tns:setPropertiesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLog">
    <wsdl:part name="parameters" element="tns:getLog">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getStatus">
    <wsdl:part name="parameters" element="tns:getStatus">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTopologyResponse">
    <wsdl:part name="parameters" element="tns:getTopologyResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getReservationResponse">
    <wsdl:part name="parameters" element="tns:getReservationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPropertiesResponse">
    <wsdl:part name="parameters" element="tns:getPropertiesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProperties">
    <wsdl:part name="parameters" element="tns:getProperties">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getServices">
    <wsdl:part name="parameters" element="tns:getServices">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getStatusResponse">
    <wsdl:part name="parameters" element="tns:getStatusResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getServicesResponse">
    <wsdl:part name="parameters" element="tns:getServicesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setProperties">
    <wsdl:part name="parameters" element="tns:setProperties">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTopology">
    <wsdl:part name="parameters" element="tns:getTopology">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLogResponse">
    <wsdl:part name="parameters" element="tns:getLogResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getService">
    <wsdl:part name="parameters" element="tns:getService">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Administration">
    <wsdl:operation name="getProperties">
      <wsdl:input name="getProperties" message="tns:getProperties">
    </wsdl:input>
      <wsdl:output name="getPropertiesResponse" message="tns:getPropertiesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getServices">
      <wsdl:input name="getServices" message="tns:getServices">
    </wsdl:input>
      <wsdl:output name="getServicesResponse" message="tns:getServicesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLog">
      <wsdl:input name="getLog" message="tns:getLog">
    </wsdl:input>
      <wsdl:output name="getLogResponse" message="tns:getLogResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getService">
      <wsdl:input name="getService" message="tns:getService">
    </wsdl:input>
      <wsdl:output name="getServiceResponse" message="tns:getServiceResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTopology">
      <wsdl:input name="getTopology" message="tns:getTopology">
    </wsdl:input>
      <wsdl:output name="getTopologyResponse" message="tns:getTopologyResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getReservation">
      <wsdl:input name="getReservation" message="tns:getReservation">
    </wsdl:input>
      <wsdl:output name="getReservationResponse" message="tns:getReservationResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStatus">
      <wsdl:input name="getStatus" message="tns:getStatus">
    </wsdl:input>
      <wsdl:output name="getStatusResponse" message="tns:getStatusResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setProperties">
      <wsdl:input name="setProperties" message="tns:setProperties">
    </wsdl:input>
      <wsdl:output name="setPropertiesResponse" message="tns:setPropertiesResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AdministrationServiceSoapBinding" type="tns:Administration">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getProperties">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getProperties">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPropertiesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getServices">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getServices">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getServicesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLog">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getLog">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getLogResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getService">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getService">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getServiceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getReservation">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getReservation">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getReservationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTopology">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getTopology">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getTopologyResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStatus">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getStatus">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getStatusResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setProperties">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="setProperties">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="setPropertiesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdministrationService">
    <wsdl:port name="AdministrationPort" binding="tns:AdministrationServiceSoapBinding">
      <soap:address location="http://localhost:9090/hello"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
