TP-Base/src/main/resources/wsdl/tool.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Tool" targetNamespace="http://tool.autobahn.geant.net/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://tool.autobahn.geant.net/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="common.intradomain.autobahn.geant.net" xmlns:ns2="constraints.autobahn.geant.net" xmlns:tns="types.tool.autobahn.geant.net" targetNamespace="types.tool.autobahn.geant.net" version="1.0">
<xs:import namespace="common.intradomain.autobahn.geant.net"/>
<xs:import namespace="constraints.autobahn.geant.net"/>
<xs:complexType name="IntradomainPathType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="links" nillable="true" type="tns:GenericLinkType"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="constraints" nillable="true" type="tns:ConstraintsType"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="GenericLinkType">
    <xs:sequence>
      <xs:element minOccurs="0" name="startInterface" type="tns:GenericInterfaceType"/>
      <xs:element minOccurs="0" name="endInterface" type="tns:GenericInterfaceType"/>
      <xs:element minOccurs="0" name="direction" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="GenericInterfaceType">
    <xs:sequence>
      <xs:element minOccurs="0" name="interfaceType" type="ns1:InterfaceType"/>
      <xs:element minOccurs="0" name="node" type="tns:NodeType"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element name="bandwidth" type="xs:long"/>
      <xs:element minOccurs="0" name="status" type="xs:string"/>
      <xs:element name="mtu" type="xs:int"/>
      <xs:element minOccurs="0" name="domainId" type="xs:string"/>
      <xs:element name="clientPort" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="NodeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="location" type="ns1:Location"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element minOccurs="0" name="status" type="xs:string"/>
      <xs:element minOccurs="0" name="vendor" type="xs:string"/>
      <xs:element minOccurs="0" name="model" type="xs:string"/>
      <xs:element minOccurs="0" name="osName" type="xs:string"/>
      <xs:element minOccurs="0" name="osVersion" type="xs:string"/>
      <xs:element minOccurs="0" name="ipAddress" type="xs:string"/>
      <xs:element name="vlanTranslationSupport" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="ConstraintsType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="constraints" nillable="true" type="tns:Constraint"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="Constraint">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="ns2:ConstraintsNames"/>
      <xs:element minOccurs="0" name="value" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="ReservationParamsType">
    <xs:sequence>
      <xs:element name="capacity" type="xs:long"/>
      <xs:element name="maxDelay" type="xs:int"/>
      <xs:element minOccurs="0" name="resiliency" type="xs:string"/>
      <xs:element name="bidirectional" type="xs:boolean"/>
      <xs:element minOccurs="0" name="startTime" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="endTime" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="types.tool.autobahn.geant.net" xmlns:tns="http://tool.autobahn.geant.net/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://tool.autobahn.geant.net/">
  <xs:import namespace="types.tool.autobahn.geant.net"/>
  <xs:element name="addReservation" type="tns:addReservation"/>
  <xs:element name="addReservationResponse" type="tns:addReservationResponse"/>
  <xs:element name="removeReservation" type="tns:removeReservation"/>
  <xs:element name="removeReservationResponse" type="tns:removeReservationResponse"/>
  <xs:complexType name="addReservation">
    <xs:sequence>
      <xs:element minOccurs="0" name="resID" type="xs:string"/>
      <xs:element minOccurs="0" name="ipath" type="ns1:IntradomainPathType"/>
      <xs:element minOccurs="0" name="params" type="ns1:ReservationParamsType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addReservationResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="removeReservation">
    <xs:sequence>
      <xs:element minOccurs="0" name="resID" type="xs:string"/>
      <xs:element minOccurs="0" name="ipath" type="ns1:IntradomainPathType"/>
      <xs:element minOccurs="0" name="params" type="ns1:ReservationParamsType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="removeReservationResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:element name="ResourceNotFoundException" type="tns:ResourceNotFoundException"/>
  <xs:complexType name="ResourceNotFoundException">
    <xs:sequence/>
  </xs:complexType>
  <xs:element name="RequestException" type="tns:RequestException"/>
  <xs:complexType name="RequestException">
    <xs:sequence/>
  </xs:complexType>
  <xs:element name="SystemException" type="tns:SystemException"/>
  <xs:complexType name="SystemException">
    <xs:sequence/>
  </xs:complexType>
  <xs:element name="AAIException" type="tns:AAIException"/>
  <xs:complexType name="AAIException">
    <xs:sequence/>
  </xs:complexType>
  <xs:element name="ReservationNotFoundException" type="tns:ReservationNotFoundException"/>
  <xs:complexType name="ReservationNotFoundException">
    <xs:sequence/>
  </xs:complexType>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="constraints.autobahn.geant.net" version="1.0">
<xs:simpleType name="ConstraintsNames">
    <xs:restriction base="xs:string">
      <xs:enumeration value="VLANS"/>
      <xs:enumeration value="TIMESLOTS"/>
      <xs:enumeration value="MTU"/>
      <xs:enumeration value="SUPPORTS_VLAN_TRANSLATION"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="common.intradomain.autobahn.geant.net" version="1.0">
<xs:complexType name="InterfaceType">
    <xs:sequence>
      <xs:element name="interfaceTypeId" type="xs:long"/>
      <xs:element minOccurs="0" name="switchingType" type="xs:string"/>
      <xs:element minOccurs="0" name="dataEncodingType" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="Location">
    <xs:sequence>
      <xs:element name="locationId" type="xs:long"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element minOccurs="0" name="country" type="xs:string"/>
      <xs:element minOccurs="0" name="institution" type="xs:string"/>
      <xs:element minOccurs="0" name="street" type="xs:string"/>
      <xs:element name="floor" type="xs:int"/>
      <xs:element name="roomSuite" type="xs:int"/>
      <xs:element name="row_" type="xs:int"/>
      <xs:element name="cabinet" type="xs:int"/>
      <xs:element minOccurs="0" name="zipCode" type="xs:string"/>
      <xs:element minOccurs="0" name="phoneNumber" type="xs:string"/>
      <xs:element minOccurs="0" name="eMailAddress" type="xs:string"/>
      <xs:element name="geoLatitude" type="xs:double"/>
      <xs:element name="geoLongitude" type="xs:double"/>
      <xs:element minOccurs="0" name="type" type="xs:string"/>
      <xs:element minOccurs="0" name="zone" type="xs:string"/>
      <xs:element name="altitude" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="addReservationResponse">
    <wsdl:part name="parameters" element="tns:addReservationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AAIException">
    <wsdl:part name="AAIException" element="tns:AAIException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SystemException">
    <wsdl:part name="SystemException" element="tns:SystemException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeReservationResponse">
    <wsdl:part name="parameters" element="tns:removeReservationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addReservation">
    <wsdl:part name="parameters" element="tns:addReservation">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeReservation">
    <wsdl:part name="parameters" element="tns:removeReservation">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RequestException">
    <wsdl:part name="RequestException" element="tns:RequestException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ReservationNotFoundException">
    <wsdl:part name="ReservationNotFoundException" element="tns:ReservationNotFoundException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ResourceNotFoundException">
    <wsdl:part name="ResourceNotFoundException" element="tns:ResourceNotFoundException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Tool">
    <wsdl:operation name="addReservation">
      <wsdl:input name="addReservation" message="tns:addReservation">
    </wsdl:input>
      <wsdl:output name="addReservationResponse" message="tns:addReservationResponse">
    </wsdl:output>
      <wsdl:fault name="SystemException" message="tns:SystemException">
    </wsdl:fault>
      <wsdl:fault name="RequestException" message="tns:RequestException">
    </wsdl:fault>
      <wsdl:fault name="ResourceNotFoundException" message="tns:ResourceNotFoundException">
    </wsdl:fault>
      <wsdl:fault name="AAIException" message="tns:AAIException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="removeReservation">
      <wsdl:input name="removeReservation" message="tns:removeReservation">
    </wsdl:input>
      <wsdl:output name="removeReservationResponse" message="tns:removeReservationResponse">
    </wsdl:output>
      <wsdl:fault name="SystemException" message="tns:SystemException">
    </wsdl:fault>
      <wsdl:fault name="RequestException" message="tns:RequestException">
    </wsdl:fault>
      <wsdl:fault name="ReservationNotFoundException" message="tns:ReservationNotFoundException">
    </wsdl:fault>
      <wsdl:fault name="AAIException" message="tns:AAIException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ToolServiceSoapBinding" type="tns:Tool">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="addReservation">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addReservation">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addReservationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SystemException">
        <soap:fault name="SystemException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequestException">
        <soap:fault name="RequestException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ResourceNotFoundException">
        <soap:fault name="ResourceNotFoundException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="AAIException">
        <soap:fault name="AAIException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="removeReservation">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="removeReservation">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="removeReservationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SystemException">
        <soap:fault name="SystemException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequestException">
        <soap:fault name="RequestException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ReservationNotFoundException">
        <soap:fault name="ReservationNotFoundException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="AAIException">
        <soap:fault name="AAIException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Tool">
    <wsdl:port name="ToolPort" binding="tns:ToolServiceSoapBinding">
      <soap:address location="http://localhost:9090/ToolPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
