IDM/src/main/resources/wsdl/useraccesspoint.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="UserAccessPointService" targetNamespace="http://useraccesspoint.jra3.geant2.net/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://useraccesspoint.jra3.geant2.net/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="useraccesspoint.jra3.geant2.net" xmlns:tns="http://useraccesspoint.jra3.geant2.net/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://useraccesspoint.jra3.geant2.net/">
<xs:import namespace="useraccesspoint.jra3.geant2.net"/>
<xs:element name="cancelService" type="tns:cancelService"/>
<xs:element name="cancelServiceResponse" type="tns:cancelServiceResponse"/>
<xs:element name="checkReservationPossibility" type="tns:checkReservationPossibility"/>
<xs:element name="checkReservationPossibilityResponse" type="tns:checkReservationPossibilityResponse"/>
<xs:element name="getAllDomains" type="tns:getAllDomains"/>
<xs:element name="getAllDomainsResponse" type="tns:getAllDomainsResponse"/>
<xs:element name="getAllLinks" type="tns:getAllLinks"/>
<xs:element name="getAllLinksResponse" type="tns:getAllLinksResponse"/>
<xs:element name="getAllClientPorts" type="tns:getAllClientPorts"/>
<xs:element name="getAllClientPortsResponse" type="tns:getAllClientPortsResponse"/>
<xs:element name="getDomainClientPorts" type="tns:getDomainClientPorts"/>
<xs:element name="getDomainClientPortsResponse" type="tns:getDomainClientPortsResponse"/>
<xs:element name="modifyReservation" type="tns:modifyReservation"/>
<xs:element name="modifyReservationResponse" type="tns:modifyReservationResponse"/>
<xs:element name="queryService" type="tns:queryService"/>
<xs:element name="queryServiceResponse" type="tns:queryServiceResponse"/>
<xs:element name="registerCallback" type="tns:registerCallback"/>
<xs:element name="registerCallbackResponse" type="tns:registerCallbackResponse"/>
<xs:element name="submitService" type="tns:submitService"/>
<xs:element name="submitServiceAndRegister" type="tns:submitServiceAndRegister"/>
<xs:element name="submitServiceAndRegisterResponse" type="tns:submitServiceAndRegisterResponse"/>
<xs:element name="submitServiceResponse" type="tns:submitServiceResponse"/>
<xs:complexType name="checkReservationPossibility">
<xs:sequence>
<xs:element minOccurs="0" name="request" type="ns1:ReservationRequest"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="checkReservationPossibilityResponse">
<xs:sequence>
<xs:element name="Possibility" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getDomainClientPorts">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="getDomainClientPortsResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="Ports" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="submitService">
<xs:sequence>
<xs:element minOccurs="0" name="request" type="ns1:ServiceRequest"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="submitServiceResponse">
<xs:sequence>
<xs:element minOccurs="0" name="serviceID" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="modifyReservation">
<xs:sequence>
<xs:element minOccurs="0" name="request" type="ns1:ModifyRequest"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="modifyReservationResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="getAllDomains">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="getAllDomainsResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="Domains" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getAllLinks">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="getAllLinksResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="Links" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getAllClientPorts">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="getAllClientPortsResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="Ports" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="cancelService">
<xs:sequence>
<xs:element minOccurs="0" name="serviceID" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="cancelServiceResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="submitServiceAndRegister">
<xs:sequence>
<xs:element minOccurs="0" name="request" type="ns1:ServiceRequest"/>
<xs:element minOccurs="0" name="url" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="submitServiceAndRegisterResponse">
<xs:sequence>
<xs:element minOccurs="0" name="serviceID" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="registerCallback">
<xs:sequence>
<xs:element minOccurs="0" name="serviceID" type="xs:string"/>
<xs:element minOccurs="0" name="url" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="registerCallbackResponse">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="queryService">
<xs:sequence>
<xs:element minOccurs="0" name="serviceID" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="queryServiceResponse">
<xs:sequence>
<xs:element minOccurs="0" name="ServiceResponse" type="ns1:ServiceResponse"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="priority">
<xs:restriction base="xs:string">
<xs:enumeration value="NORMAL"/>
<xs:enumeration value="HIGH"/>
<xs:enumeration value="HIGHEST"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="resiliency">
<xs:restriction base="xs:string">
<xs:enumeration value="NONE"/>
<xs:enumeration value="ONE_TO_ONE"/>
<xs:enumeration value="ONE_PLUS_ONE"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="state">
<xs:restriction base="xs:string">
<xs:enumeration value="ACCEPTED"/>
<xs:enumeration value="PATHFINDING"/>
<xs:enumeration value="LOCAL_CHECK"/>
<xs:enumeration value="SCHEDULING"/>
<xs:enumeration value="SCHEDULED"/>
<xs:enumeration value="CANCELLING"/>
<xs:enumeration value="WITHDRAWING"/>
<xs:enumeration value="DEFERRED_CANCEL"/>
<xs:enumeration value="ACTIVATING"/>
<xs:enumeration value="ACTIVE"/>
<xs:enumeration value="FINISHING"/>
<xs:enumeration value="FINISHED"/>
<xs:enumeration value="CANCELLED"/>
<xs:enumeration value="FAILED"/>
</xs:restriction>
</xs:simpleType>
<xs:element name="UserAccessPointException" type="tns:UserAccessPointException"/>
<xs:complexType name="UserAccessPointException">
<xs:sequence/>
</xs:complexType>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://useraccesspoint.jra3.geant2.net/" xmlns:tns="useraccesspoint.jra3.geant2.net" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="useraccesspoint.jra3.geant2.net">
<xs:import namespace="http://useraccesspoint.jra3.geant2.net/"/>
<xs:complexType name="ReservationRequest">
<xs:sequence>
<xs:element minOccurs="0" name="startPort" type="xs:string"/>
<xs:element minOccurs="0" name="endPort" type="xs:string"/>
<xs:element minOccurs="0" name="startTime" type="xs:dateTime"/>
<xs:element minOccurs="0" name="endTime" type="xs:dateTime"/>
<xs:element minOccurs="0" name="priority" type="ns1:priority"/>
<xs:element minOccurs="0" name="description" type="xs:string"/>
<xs:element name="capacity" type="xs:long"/>
<xs:element minOccurs="0" name="userInclude" type="tns:PathInfo" />
<xs:element minOccurs="0" name="userExclude" type="tns:PathInfo" />
<xs:element name="userVlanId" type="xs:int" />
<xs:element name="maxDelay" type="xs:int"/>
<xs:element minOccurs="0" name="resiliency" type="ns1:resiliency"/>
<xs:element name="bidirectional" type="xs:boolean"/>
<xs:element name="processNow" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PathInfo">
  <xs:sequence>
    <xs:element maxOccurs="unbounded" minOccurs="0" name="domains"
      nillable="true" type="xs:string" />
    <xs:element maxOccurs="unbounded" minOccurs="0" name="links"
      nillable="true" type="xs:string" />
  </xs:sequence>
</xs:complexType>
<xs:complexType name="ServiceRequest">
<xs:sequence>
<xs:element minOccurs="0" name="userName" type="xs:string"/>
<xs:element minOccurs="0" name="userHomeDomain" type="xs:string"/>
<xs:element minOccurs="0" name="userEmail" type="xs:string"/>
<xs:element minOccurs="0" name="justification" type="xs:string"/>
<xs:element maxOccurs="unbounded" name="reservations" nillable="true" type="tns:ReservationRequest"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ModifyRequest">
<xs:sequence>
<xs:element minOccurs="0" name="resId" type="xs:string"/>
<xs:element minOccurs="0" name="startTime" type="xs:dateTime"/>
<xs:element minOccurs="0" name="endTime" type="xs:dateTime"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ServiceResponse">
<xs:sequence>
<xs:element minOccurs="0" name="userName" type="xs:string"/>
<xs:element minOccurs="0" name="userHomeDomain" type="xs:string"/>
<xs:element minOccurs="0" name="userEmail" type="xs:string"/>
<xs:element maxOccurs="unbounded" name="reservations" nillable="true" type="tns:ReservationResponse"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ReservationResponse">
<xs:sequence>
<xs:element minOccurs="0" name="bodID" type="xs:string"/>
<xs:element minOccurs="0" name="state" type="ns1:state"/>
<xs:element minOccurs="0" name="message" type="xs:string"/>
<xs:element minOccurs="0" name="startPort" type="xs:string"/>
<xs:element minOccurs="0" name="endPort" type="xs:string"/>
<xs:element minOccurs="0" name="startTime" type="xs:dateTime"/>
<xs:element minOccurs="0" name="endTime" type="xs:dateTime"/>
<xs:element minOccurs="0" name="priority" type="ns1:priority"/>
<xs:element minOccurs="0" name="description" type="xs:string"/>
<xs:element name="capacity" type="xs:long"/>
<xs:element name="maxDelay" type="xs:int"/>
<xs:element minOccurs="0" name="resiliency" type="ns1:resiliency"/>
<xs:element name="bidirectional" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="queryServiceResponse">
    <wsdl:part name="parameters" element="tns:queryServiceResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelService">
    <wsdl:part name="parameters" element="tns:cancelService">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="modifyReservation">
    <wsdl:part name="parameters" element="tns:modifyReservation">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllDomainsResponse">
    <wsdl:part name="parameters" element="tns:getAllDomainsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllLinksResponse">
    <wsdl:part name="parameters" element="tns:getAllLinksResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllClientPortsResponse">
    <wsdl:part name="parameters" element="tns:getAllClientPortsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="checkReservationPossibility">
    <wsdl:part name="parameters" element="tns:checkReservationPossibility">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="submitService">
    <wsdl:part name="parameters" element="tns:submitService">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UserAccessPointException">
    <wsdl:part name="UserAccessPointException" element="tns:UserAccessPointException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllDomains">
    <wsdl:part name="parameters" element="tns:getAllDomains">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllLinks">
    <wsdl:part name="parameters" element="tns:getAllLinks">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllClientPorts">
    <wsdl:part name="parameters" element="tns:getAllClientPorts">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="submitServiceAndRegister">
    <wsdl:part name="parameters" element="tns:submitServiceAndRegister">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryService">
    <wsdl:part name="parameters" element="tns:queryService">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelServiceResponse">
    <wsdl:part name="parameters" element="tns:cancelServiceResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDomainClientPortsResponse">
    <wsdl:part name="parameters" element="tns:getDomainClientPortsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="submitServiceAndRegisterResponse">
    <wsdl:part name="parameters" element="tns:submitServiceAndRegisterResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="checkReservationPossibilityResponse">
    <wsdl:part name="parameters" element="tns:checkReservationPossibilityResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="registerCallbackResponse">
    <wsdl:part name="parameters" element="tns:registerCallbackResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="registerCallback">
    <wsdl:part name="parameters" element="tns:registerCallback">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDomainClientPorts">
    <wsdl:part name="parameters" element="tns:getDomainClientPorts">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="submitServiceResponse">
    <wsdl:part name="parameters" element="tns:submitServiceResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="modifyReservationResponse">
    <wsdl:part name="parameters" element="tns:modifyReservationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="UserAccessPoint">
    <wsdl:operation name="checkReservationPossibility">
      <wsdl:input name="checkReservationPossibility" message="tns:checkReservationPossibility">
    </wsdl:input>
      <wsdl:output name="checkReservationPossibilityResponse" message="tns:checkReservationPossibilityResponse">
    </wsdl:output>
      <wsdl:fault name="UserAccessPointException" message="tns:UserAccessPointException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getDomainClientPorts">
      <wsdl:input name="getDomainClientPorts" message="tns:getDomainClientPorts">
    </wsdl:input>
      <wsdl:output name="getDomainClientPortsResponse" message="tns:getDomainClientPortsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="submitService">
      <wsdl:input name="submitService" message="tns:submitService">
    </wsdl:input>
      <wsdl:output name="submitServiceResponse" message="tns:submitServiceResponse">
    </wsdl:output>
      <wsdl:fault name="UserAccessPointException" message="tns:UserAccessPointException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="modifyReservation">
      <wsdl:input name="modifyReservation" message="tns:modifyReservation">
    </wsdl:input>
      <wsdl:output name="modifyReservationResponse" message="tns:modifyReservationResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllDomains">
      <wsdl:input name="getAllDomains" message="tns:getAllDomains">
    </wsdl:input>
      <wsdl:output name="getAllDomainsResponse" message="tns:getAllDomainsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllLinks">
      <wsdl:input name="getAllLinks" message="tns:getAllLinks">
    </wsdl:input>
      <wsdl:output name="getAllLinksResponse" message="tns:getAllLinksResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllClientPorts">
      <wsdl:input name="getAllClientPorts" message="tns:getAllClientPorts">
    </wsdl:input>
      <wsdl:output name="getAllClientPortsResponse" message="tns:getAllClientPortsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelService">
      <wsdl:input name="cancelService" message="tns:cancelService">
    </wsdl:input>
      <wsdl:output name="cancelServiceResponse" message="tns:cancelServiceResponse">
    </wsdl:output>
      <wsdl:fault name="UserAccessPointException" message="tns:UserAccessPointException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="submitServiceAndRegister">
      <wsdl:input name="submitServiceAndRegister" message="tns:submitServiceAndRegister">
    </wsdl:input>
      <wsdl:output name="submitServiceAndRegisterResponse" message="tns:submitServiceAndRegisterResponse">
    </wsdl:output>
      <wsdl:fault name="UserAccessPointException" message="tns:UserAccessPointException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="registerCallback">
      <wsdl:input name="registerCallback" message="tns:registerCallback">
    </wsdl:input>
      <wsdl:output name="registerCallbackResponse" message="tns:registerCallbackResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryService">
      <wsdl:input name="queryService" message="tns:queryService">
    </wsdl:input>
      <wsdl:output name="queryServiceResponse" message="tns:queryServiceResponse">
    </wsdl:output>
      <wsdl:fault name="UserAccessPointException" message="tns:UserAccessPointException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserAccessPointServiceSoapBinding" type="tns:UserAccessPoint">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="checkReservationPossibility">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="checkReservationPossibility">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="checkReservationPossibilityResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UserAccessPointException">
        <soap:fault name="UserAccessPointException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getDomainClientPorts">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getDomainClientPorts">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getDomainClientPortsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="submitService">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="submitService">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="submitServiceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UserAccessPointException">
        <soap:fault name="UserAccessPointException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="modifyReservation">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="modifyReservation">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="modifyReservationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelService">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="cancelService">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="cancelServiceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UserAccessPointException">
        <soap:fault name="UserAccessPointException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllDomains">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAllDomains">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllDomainsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllLinks">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAllLinks">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllLinksResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllClientPorts">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAllClientPorts">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllClientPortsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="submitServiceAndRegister">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="submitServiceAndRegister">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="submitServiceAndRegisterResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UserAccessPointException">
        <soap:fault name="UserAccessPointException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="queryService">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="queryService">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="queryServiceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="UserAccessPointException">
        <soap:fault name="UserAccessPointException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="registerCallback">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="registerCallback">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="registerCallbackResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserAccessPointService">
    <wsdl:port name="UserAccessPointPort" binding="tns:UserAccessPointServiceSoapBinding">
      <soap:address location="http://localhost:9090/UserAccessPointPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
